__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
*.log
logs/
.DS_Store
.idea/
.vscode/
*.sqlite3
*.db
coverage.xml
*.coverage
htmlcov/
.pytest_cache/
migrations/versions/*.py
!migrations/versions/__init__.py